* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin:0 auto;
}

/* HEADER */

/* HEADER TOP */
.header-top {
    height: 70px;
    background-color: white;
    padding: 10px 0;

}

#logo img{
    height: 60px;
    width: auto;
    float: left;
}
nav {
    float: right;
    line-height: 50px;
}

ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #33475b;

}

a i {

    padding-left: 20px;
}

/* BANNER1 */
.header-bottom {
    background-color: #fff2ee;

}

.banner {
    height: 600px;
    position: relative;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron{
    width: 50%;
    position: absolute;
    top: 10%;
}
h1{
    margin-bottom: 30px;
}


.jumbotron h3 {
    margin-bottom: 30px;
}

.jumbotron button {
    margin-bottom: 30px;
}

.btg-large {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 15px 30px;
}



/* SEZIONE 2 */

.bg-grigiochiaro {
    background-color: #f5f8fa;
    /* da cancellare */
    height: 1500px;
}

.card1 {
    height: 500px;
    text-align: center;
}

.card1 img {
    height: 250px;
    margin-top: 20px;
}

.card1 h2{
    margin-top: 20px;
}

.card1 p {
    margin-top: 20px;
}

.card2 {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5%;
}

.card2 .check p {
    display: inline-block;
}
.check i{
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    margin-right: 10px;

}


.img-btg img {
    height: 100px;
}

.btg-medium {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 15px 30px;
}

.img-btg {
    width: 50%;
    float: left;
    padding: 50px 15%;
}

.text {
    width: 50%;
    float: left;
    line-height: 1.8;
    margin-top: 40px;

}

.card3 {
    width: 30%;
    float: left;
    padding: 20px;
    margin-right: 5%;
    border-radius: 15px;
    background-color: white;



}

.card3:last-child {
    margin-right: 0;
}

.img-btg-2 {
    float: left;

}

.text-2 {
    float: left;
    text-align: center;
    line-height: 1.8;

}

.img-btg-2 img {
    height: 100px;
    margin: 25px 120px;
}

.check-2 {
    float: left;
    line-height: 1.8;

}

.check-2 i {
    color: white;
    background-color: #ff7a59;
    border-radius: 10px;
    margin-right: 10px;
}

.btg-medium-2 {
    float: left;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 90px;
}

.btg-medium-2 button {
    background-color: #ff7a59;
    color: white;
    border: 1px solid #ff7a59;
}

/* SEZIONE 3 */

.bg-verdescuro {
    background: #00a7ba;
    background-image: linear-gradient(to right, #00a7ba, #00B9A9);
    /* da cancellare */
    height: 800px;
}

.text-up {
    height: 300px;
    text-align: center;
    line-height: 1.8;
    padding: 90px;
    color: white;
}

.box-bottom {
    height: 400px;
}

.box-1 {
    height: 50%;
    width: 25%;
    text-align: center;
    line-height: 1.8;
    /* border: 1px solid white; */
    float: left;
    color: white;
    padding: 20px;
}
.box-1 h2 {
    font-size: 300%;
}

.bord-down {
    border-bottom: 1px solid white;
}

.bord-right {
    border-right: 1px solid white;
}

.bg-bianco {
    background-color: #ffffff;
    height: 800px;
    /* da cancellare */
    border: 1px solid black;
}

.banner-1-left {
    height: 800px;
    width: 40%;
    /* da cancellare */
    border-right: 1px solid black;
}

.bg-nero {
    #33475b;
}
